{% extends 'base.html' %}
{% load static%}
{% block title %} Home {% endblock %}

{% block content %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-white" style="background:url('{% static 'image/texture.png' %}');background-color:#555555">
        <div class="container">
            <p></p>
            <h1 class="display-3"><b>Welcome to AI Center!</b></h1>
            <p class="lead">This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2><b>介紹</b></h2>
                <p>
                    -----------------------------------------------------------------------------------------------------
                    ---------------------------------------------待補------------------------------------------------------------
                    ---------------------------------------------------------------------------------------------------------
                    -----------------------------------------------------------------------------------------------------
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><b>介紹</b></h2>
                <p>-----------------------------------------------------------------------------------------------------
                    ---------------------------------------------待補------------------------------------------------------------
                    ---------------------------------------------------------------------------------------------------------
                    ----------------------------------------------------------------------------------------------------- </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; AI Center 2021</p>
</footer>
{% endblock %}