

{% load static%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>

<link href="https://unpkg.com/perfect-scrollbar@1.4.0/css/perfect-scrollbar.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script>
$(document).ready(function (e) {
    //取得T型態
    getTag();
    //取得選擇器單字
    getVocaubulary();
    
    $("#twoOrThree").on('change', function() {
        value = document.getElementById('twoOrThree').value;
        if (value === "2"){
            printAllData();
        }
        else if (value === "3"){
            printAllData_3();
        }
    });

    //根據filter顯示token
    $("#filter").on('change', function() {
        value = document.getElementById('twoOrThree').value;
        if (value === "2"){                
            printAllData();
        }
        else if (value === "3"){
            printAllData_3();
        }
    });

    //顯示資料
    //printAllData();

    //顯示P資料
    printAllPData();
    
    
    //搜尋按鈕
    $("#searchButton").click(function(){
        printAllDataBetween();
    });

    //根據select顯示token
    $("#showTimes").on('change', function() {
        value = document.getElementById('twoOrThree').value;
        if (value === "2"){
            printAllData();
        }
        else if (value === "3"){
            printAllData_3();
        }
    });
    //loader
    $('#loader').css('display','none');
    $('#frame').css('visibility','visible');
})

function getTag(){
    $.ajax({
        type: 'POST',
        url: '{% url "mark:getTag" %}',
        success:function (response){
            for(let i=0;i<response.token.length;i++){
                const element = `<option value=${response.tokenID[i]}>${response.token[i]}</option>`;
                $('#firstTag .optionbox .form-select').append(element);
                $('#secondTag .optionbox .form-select').append(element);
            }
        },
    });
}

function getVocaubulary(){
    $.ajax({
        type: 'GET',
        url: '{% url "mark:getVocabularyForDictionary" %}',
        success:function (response){
            let element = '';
            for(let i=0;i<response.token.length;i++){
                element += `<option value=${response.tokenID[i]}>${response.token[i]}</option>`;
            }
            $('.selectVocabulary').append(element);
            dualBox();
        },
    });
}

function dualBox(){
    let dlb2 = new DualListbox('.selectVocabulary', {
        availableTitle:'Available vocabularies',
        selectedTitle: 'Selected vocabularies',
        addButtonText: '>',
        removeButtonText: '<',
        addAllButtonText: '>>',
        removeAllButtonText: '<<',
        searchPlaceholder: 'search vocabulary',
        draggable: true,
        sortable: true,
    });
    dlb2.addEventListener('added', function(event){
        console.log(event);
    });
    dlb2.addEventListener('removed', function(event){
        console.log(event);
    });
}


//顯示資料
function printAllData(){
    response = getTextTokenData();
    ////console.log("response.data : ", response.data);
    $('#statistics').empty();
    $('#statistics').append(`<table id='sortTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch" data-reset-search="resetSearch" 
    data-pagination="true"
    data-pagination-h-align="left"
    data-pagination-detail-h-align="right"
    data-page-size="300"
    data-height=""        
    data-loading-template="loadingTemplate"
    >
    </table>`);
    $('#sortTable').bootstrapTable({
        columns: [{
            field: 'No',
            title: 'No',
            align: 'center',
            valign: 'middle',
            sortable:true,
        },{
            field: 'First',
            title: 'First',
            sortable:true,

        }, {
            field: 'Second',
            title: 'Second',
            sortable:true,
        }, {
            field: 'Times',
            title: 'Times',
            sortable:true,
        }, {
            field: 'Mergecheck',
            title: 'Mergecheck',
            sortable:true,
        }],
        data:response.data,
        paginationParts: ["pageSize", "pageList"],
        stickyHeader: true,
    })
    $('#statistics .fixed-table-toolbar').attr('id', 'table_2word');
    $('#table_2word').append(`<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="tableSelect1">
        <option selected value="1">Search First</option>
        <option value="2">Search Second</option>
        <option value="3">Search Times</option>
      </select>`);
    //$('#table_2word').append(`<button onclick="resetSearch()" class="btn btn-secondary bg-secondary" id="resetSearch">reset</button>`);
}

//顯示資料
function printAllData_3(){        
    response = getTextTokenData_3();
    ////console.log("response.data : ", response.data);
    
    $('#statistics').empty();
    $('#statistics').append(`<table id='sortTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch"
    data-pagination="true"
    data-pagination-h-align="left"
    data-pagination-detail-h-align="right"
    data-page-size="300"        
    data-height="">
    </table>`);
    $('#sortTable').bootstrapTable({
        columns: [{
            field: 'No',
            title: 'No',
            align: 'center',
            valign: 'middle',
            sortable:true,
        },
        {
            field: 'First',
            title: 'First',
            sortable:true,

        }, 
        {
            field: 'Second',
            title: 'Second',
            sortable:true,
        }, 
        {
            field: 'Third',
            title: 'Third',
            sortable:true,
        }, 
        {
            field: 'Times',
            title: 'Times',
            sortable:true,
        }, 
        {
            field: 'Mergecheck',
            title: 'Mergecheck',
        }],
        data:response.data,
        paginationParts: ["pageSize", "pageList"],
        stickyHeader: true,
    })
    $('#statistics .fixed-table-toolbar').attr('id', 'table_3word');
    $('#table_3word').append(`<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="tableSelect1">
        <option selected value="1">Search First</option>
        <option value="2">Search Second</option>
        <option value="4">Search Third</option>
        <option value="3">Search Times</option>
      </select>`);
    //$('#table_3word').append(`<button onclick="resetSearch()" class="btn btn-secondary bg-secondary" id="resetSearch">reset</button>`);
}

//顯示P資料
function printAllPData(searchWord){
    response = getVocabularyData();
    var tokenP = response.data;
    ////console.log("response.data : ", response.data);
    $('#view').empty();
    $('#view').append(`<table id='sortTableP' class="table table-striped" data-toggle="table"  data-search="true"
    data-pagination="true"
    data-pagination-h-align="left"
    data-pagination-detail-h-align="right"
    data-page-size="300"
    data-height=""      >  
    </table>`);
    $('#sortTableP').bootstrapTable({
        columns: [{
            field: 'No',
            title: 'No',
            align: 'center',
            valign: 'middle',
            sortable:true,
        },
        {
            field: 'ProperNoun',
            title: 'ProperNoun',
            sortable:true,

        }, 
        {
            field: 'tokenType',
            title: 'tokenType',
            sortable:true,
        }, 
        {
            field: 'NewRE',
            title: 'NewRE',
        }, 
        {
            field: 'UnMerge',
            title: 'UnMerge',
        }, 
        ],
        data:response.data,
        paginationParts: ["pageSize", "pageList"],
        stickyHeader: true,
    })
    $('#view .fixed-table-toolbar').attr('id', 'table_p;');
    if (searchWord){                        
        var resultDataP = document.querySelector('#view.table.table-bordered');
        var searchInput = resultDataP.querySelector('input.search-input');            
        var searchbutton = resultDataP.querySelector('button');
        searchInput.value = Token;
        searchbutton.id = "inputPbutton";
        document.getElementById('inputPbutton').click(); 
    }
}

//顯示資料
function printAllDataBetween(){

    tokenID1 = document.getElementById("token1").value;
    tokenID2 = document.getElementById("token2").value;
    console.log("tokenID1 : ", tokenID1);
    console.log("tokenID2 : ", tokenID2);
    var ulElement = document.querySelector('.dual-listbox__selected');
    var liElements = ulElement.querySelectorAll('li');
    var liHTMLArray = Array.from(liElements).map(li => li.innerHTML);
    console.log(liHTMLArray);
    response = getTextTokenData_Between(tokenID1, tokenID2, liHTMLArray);
    ////console.log("response.data : ", response.data);
    
    
    
}

//取得所有資料
function getTextTokenData(){
    $.ajax({
        async: false,
        type: 'GET',
        url: '{% url 'mark:chineseTwoWord' %}',
        data:{
            "filter_times" : 1,
        },
        success:function (response){
            res = response;
            //////console.log("res : ", res);
        },
    });
    return res;
}

//取得所有資料
function getTextTokenData_3(){
    $.ajax({
        async: false,
        type: 'GET',
        url: '{% url 'mark:chineseThreeWord' %}',
        data:{
            "English" : "Chinese",
            "filter_times" : 1,
        },
        success:function (response){
            res = response;
            //////console.log("res : ", res);
        },
    });
    return res;
}

//取得P資料
function getVocabularyData(){
    var res;
    $.ajax({
        async: false,
        type: 'GET',
        url: '{% url 'mark:getVocabularyByType_Ptable' %}',
        data:{
            "tokenType" : "P",
        },
        success:function (response){
            res = response;
            
            //////console.log("res : ", res);
        },
    });
    return res;
}

//取得所有資料
function getTextTokenData_Between(tokenID1, tokenID2, liHTMLArray){
    $('#searchingButton').css('display','inline');
    $('#searchButton').css('display','none');
    $('#loader').css('display','inline');
    $('#loader').css('z-index','10');
    $('#cover').css('display','inline');
    $.ajax({
        async: true,
        type: 'POST',
        url: '{% url 'mark:getReportBetween2Tokens' %}',
        data:JSON.stringify({
            "firstTokenID" : tokenID1,
            "secondTokenID" : tokenID2,
            "tokens[]" : liHTMLArray,
        }),
        success:function (response){
            res = response;
            $('#statistics').empty();
            $('#statistics').append(`<table id='sortTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearchForBetween"
            data-pagination="true"
            data-pagination-h-align="left"
            data-pagination-detail-h-align="right"
            data-page-size="300"        
            data-height="">
            </table>`);
            $('#sortTable').bootstrapTable({
                columns: [{
                    field: 'No',
                    title: 'No',
                    align: 'center',
                    valign: 'middle',
                    sortable:true,
                },
                {
                    field: 'Token1',
                    title: 'Token1',
                    sortable:true,

                }, 
                {
                    field: 'Token2',
                    title: 'Token2',
                    sortable:true,
                }, 
                {
                    field: 'Token3',
                    title: 'Token3',
                    sortable:true,
                }, 
                {
                    field: 'Token4',
                    title: 'Token4',
                    sortable:true,
                }, 
                {
                    field: 'Token5',
                    title: 'Token5',
                    sortable:true,
                }, 
                {
                    field: 'Token6',
                    title: 'Token6',
                    sortable:true,
                }, 
                {
                    field: 'NumReports',
                    title: 'NumReports',
                    sortable:true,
                }, 
                {
                    field: 'Times',
                    title: 'Times',
                    sortable:true,
                },
                {
                    field: 'Mergecheck',
                    title: 'Mergecheck',
                }],
                data:response.data,
                paginationParts: ["pageSize", "pageList"],
                stickyHeader: true,
            })
            $('#statistics .fixed-table-toolbar').attr('id', 'table_3word');
            $('#table_3word').append(`<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="tableSelect1">
                <option selected value="1">Search Token1</option>
                <option value="2">Search Token2</option>
                <option value="3">Search Token3</option>
                <option value="4">Search Token4</option>
                <option value="5">Search Token5</option>
                <option value="6">Search NumReports</option>
                <option value="7">Search Times</option>
            </select>`);
            //$('#table_3word').append(`<button onclick="resetSearch()" class="btn btn-secondary bg-secondary" id="resetSearch">reset</button>`);
            $('#sortTable tr').width(500);
            $('#searchingButton').css('display','none');
            $('#searchButton').css('display','inline');
            $('#loader').css('display','none');
            $('#cover').css('display','none');
        },
    });
}

function customSearch(data, text) {
    var search = document.getElementsByClassName("form-control search-input");
    //console.log("search : ", search[0]);
    var selectValue = document.getElementById("tableSelect1").value;
    //console.log("selectValue : ", selectValue);
    //console.log("data : ", data);
    //console.log("text : ", text);
    if (text != ""){
        switch (selectValue) {
            case '1':
                //console.log('select 1');
                return data.filter(function (row) {
                  return row.First == text;
                })
                break;
            case '2':
                //console.log('select 2');
                return data.filter(function (row) {
                  return row.Second == text;
                })
                break;
            case '3':
                //console.log('select 3');
                return data.filter(function (row) {
                  return row.Times >= text;
                })
                break;
            case '4':
                //console.log('select 4');
                return data.filter(function (row) {
                  return row.Third == text;
                })
                break;
            case '0':
                //console.log('select 0');
                return data;
                break;
        }
    }
    

    return data.filter(function (row) {
      return row.Times >= text
    })
  }

  function customSearchForBetween(data, text) {
    console.log("customSearchForBetween in ");
    var search = document.getElementsByClassName("form-control search-input");
    //console.log("search : ", search[0]);
    var selectValue = document.getElementById("tableSelect1").value;
    //console.log("selectValue : ", selectValue);
    //console.log("data : ", data);
    //console.log("text : ", text);
    if (text != ""){
        switch (selectValue) {
            case '1':
                //console.log('select 1');
                return data.filter(function (row) {
                  return row.Token1 == text;
                })
                break;
            case '2':
                //console.log('select 2');
                return data.filter(function (row) {
                  return row.Token2 == text;
                })
                break;
            case '3':
                //console.log('select 3');
                return data.filter(function (row) {
                  return row.Token3 == text;
                })
                break;
            case '4':
                //console.log('select 4');
                return data.filter(function (row) {
                  return row.Token4 == text;
                })
                break;
            case '5':
                //console.log('select 4');
                return data.filter(function (row) {
                    return row.Token5 == text;
                })
                break;
            case '6':
                //console.log('select 4');
                return data.filter(function (row) {
                    return row.NumReports >= text;
                })
                break;
            case '7':
                //console.log('select 4');
                return data.filter(function (row) {
                    return row.Times >= text;
                })
                break;
            
            case '0':
                //console.log('select 0');
                return data;
                break;
        }
    }
    return data.filter(function (row) {
      return row.Times >= text
    })
  }

    //測試一次做完
    function allInOneFiveWord(){
        var start = Date.now();
        //插新字
        let token1 = $(event.target).parents('tr').children('td').eq(1).html();
        console.log("token1 = ", token1);
        let token2 = $(event.target).parents('tr').children('td').eq(2).html();
        console.log("token2 = ", token2);
        let token3 = $(event.target).parents('tr').children('td').eq(3).html();
        console.log("token3 = ", token3);
        let token4 = $(event.target).parents('tr').children('td').eq(4).html();
        console.log("token4 = ", token4);
        let token5 = $(event.target).parents('tr').children('td').eq(5).html();
        console.log("token5 = ", token5);
        let times = $(event.target).parents('tr').children('td').eq(7).html();
        ////console.log("times = ", times);
        var Token =  $(event.target).parents('tr').children('td').eq(9).children('button').attr('mergeToken');
        
        var nWord =  $(event.target).parents('tr').children('td').eq(9).children('button').attr('mergeNWord');

        console.log("Token = ", Token);
        console.log("nWord = ", nWord);
        //response = insertVocabulary_new(Token, lenOfToken, TokenType);


        //合併五字
        response = mergeFiveWord(token1, token2, token3, token4, token5, Token, nWord);
        printAllDataBetween();
        var end = Date.now();
        if(response.status === "0"){
            swal("Merged!", Token + " has been merged! " + ((end-start)/1000).toString() + "sec", "success");
        }
        else{
            if (response.ERRMSG){
                swal("Failed!", response.ERRMSG , "error");
            }
        }

    }

    //合併五字
    function mergeFiveWord(token1, token2, token3, token4, token5, Token, nWord){
        console.log("Token : ", Token);
        var res;
        $.ajax({
            async: false,
            type: 'POST',
            url: '{% url 'mark:fiveWord' %}',
            data:{
                "token1" : token1,
                "token2" : token2,
                "token3" : token3,
                "token4" : token4,
                "token5" : token5,
                "mergeToken" : Token,
                "nWord" : nWord,
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }

</script>

