{% load static%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>    
    $(document).ready(function () {
        //測試根據變數查詢資料
        getNext();
        
        //根據select顯示token
        $("#twoOrThree").on('change', function() {
            value = document.getElementById('twoOrThree').value;
            if (value === "2"){
                printAllData();
            }
            else if (value === "3"){
                printAllData_3();
            }
        });
        //根據filter顯示token
        $("#filter").on('change', function() {
            value = document.getElementById('twoOrThree').value;
            if (value === "2"){                
                printAllData();
            }
            else if (value === "3"){
                printAllData_3();
            }
        });
        //顯示資料
        printAllData();
        //顯示P資料
        printAllPData();
        
        
        //搜尋按鈕
        $("#define").click(function(){
            getSynTypoValue();
            showModal();
        });

        //根據select顯示token
        $("#showTimes").on('change', function() {
            value = document.getElementById('twoOrThree').value;
            if (value === "2"){
                printAllData();
            }
            else if (value === "3"){
                printAllData_3();
            }
        });
    });
    
    function showModal() {
		var modal = document.getElementById("modalDefine");
		var data = document.getElementById("result_dataDefine");
        if( modal.style.display == "block"){
            modal.style.display = "none";
        }
        else{
            //document.addEventListener("click", function(event) {
            //    //console.log("listener in ", event.target);
            //    //console.log("listener in ", event.target.classList);
            //    // Check if the clicked element is inside the iframe or the button that opened the iframe
            //    if (!event.target.classList.contains("modal-content") && !event.target.classList.contains("btn") && !event.target.classList.contains("table table-bordered")) {
            //        //console.log("dissapear ", event.target);
            //        // If it is not, hide the iframe
            //        modal.style.display = "none";
            //    }
            //});        
            modal.style.display = "block";            
            $('#result_dataDefine').empty();
            $('#result_dataDefine').append(123);
        }
    }

    function getSynTypoValue() {
        var res;
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getSynTypo' %}',
            data:{
            },
            success:function (response){
                res = response;
                //console.log("res : ", res);
            },
        });
        return res;
    }
    
    //取得P資料
    function getNext(){
        var res;
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getNextWord' %}',
            data:{
                "word" : 5,//最多14字[('組', '織', '來', '源', ':', 'C', '[NUM]', '-', '[NUM]', ',', 'C', '[NUM]', '-', '[NUM]', 1, '組織來源:C[NUM]-[NUM],C[NUM]-[NUM]')]
                "firstToken" : "來",
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }

    //顯示資料
    function printAllData(){
        response = getTextTokenData();
        ////console.log("response.data : ", response.data);
        $('#result_data').empty();
        $('#result_data').append(`<table id='sortTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch" data-reset-search="resetSearch">
        </table>`);
        $('#sortTable').bootstrapTable({
            columns: [{
                field: 'No',
                title: 'No',
                align: 'center',
                valign: 'middle',
                sortable:true,
            },{
                field: 'First',
                title: 'First',
                sortable:true,

            }, {
                field: 'Second',
                title: 'Second',
                sortable:true,
            }, {
                field: 'Times',
                title: 'Times',
                sortable:true,
            }, {
                field: 'Mergecheck',
                title: 'Mergecheck',
                sortable:true,
            }],
            data:response.data
        })
        $('#result_data .fixed-table-toolbar').attr('id', 'table_2word');
        $('#table_2word').append(`<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="tableSelect1">
            <option selected value="1">Search First</option>
            <option value="2">Search Second</option>
            <option value="3">Search Times</option>
          </select>`);
        $('#table_2word').append(`<button onclick="resetSearch()" class="btn btn-secondary bg-secondary" id="resetSearch">reset</button>`);
    }

    //顯示資料
    function printAllData_3(){
        response = getTextTokenData_3();
        ////console.log("response.data : ", response.data);
        
        $('#result_data').empty();
        $('#result_data').append(`<table id='sortTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch">
        </table>`);
        $('#sortTable').bootstrapTable({
            columns: [{
                field: 'No',
                title: 'No',
                align: 'center',
                valign: 'middle',
                sortable:true,
            },
            {
                field: 'First',
                title: 'First',
                sortable:true,

            }, 
            {
                field: 'Second',
                title: 'Second',
                sortable:true,
            }, 
            {
                field: 'Third',
                title: 'Third',
                sortable:true,
            }, 
            {
                field: 'Times',
                title: 'Times',
                sortable:true,
            }, 
            {
                field: 'Mergecheck',
                title: 'Mergecheck',
            }],
            data:response.data
        })
        $('#result_data .fixed-table-toolbar').attr('id', 'table_3word');
        $('#table_3word').append(`<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="tableSelect1">
            <option selected value="1">Search First</option>
            <option value="2">Search Second</option>
            <option value="4">Search Third</option>
            <option value="3">Search Times</option>
          </select>`);
        $('#table_3word').append(`<button onclick="resetSearch()" class="btn btn-secondary bg-secondary" id="resetSearch">reset</button>`);
    }

    //顯示P資料
    function printAllPData(){
        response = getVocabularyData();
        var tokenP = response.data;
        ////console.log("response.data : ", response.data);
        $('#result_dataP').empty();
        $('#result_dataP').append(`<table id='sortTableP' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch">
        </table>`);
        $('#sortTableP').bootstrapTable({
            columns: [{
                field: 'No',
                title: 'No',
                align: 'center',
                valign: 'middle',
                sortable:true,
            },
            {
                field: 'ProperNoun',
                title: 'ProperNoun',
                sortable:true,

            }, 
            {
                field: 'tokenType',
                title: 'tokenType',
                sortable:true,
            }, 
            {
                field: 'NewRE',
                title: 'NewRE',
            }, 
            {
                field: 'UnMerge',
                title: 'UnMerge',
            }, 
            ],
            data:response.data
        })
        $('#result_dataP .fixed-table-toolbar').attr('id', 'table_p;');
    }
    
    //取得P資料
    function getVocabularyData(){
        var res;
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getVocabularyByType_Ptable' %}',
            data:{
                "tokenType" : "P",
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }

    //取得所有資料
    function getTextTokenData(){
        var res;
        var NS = document.getElementById("filter").value;        
        var filter_times = document.getElementById("showTimes").value;
        //console.log("filter_times : ", filter_times);
        if (!filter_times){
            ////console.log("filter_times : ", filter_times);
            filter_times = 0;
        }

        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getTextToken' %}',
            data:{
                "NoSign" : NS,
                "filter_times" : parseInt(filter_times),
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }
    
    //取得所有資料
    function getTextTokenData_3(){
        var res;
        var NS = document.getElementById("filter").value;
        var filter_times = document.getElementById("showTimes").value;
        if (!filter_times){
            ////console.log("filter_times : ", filter_times);
            filter_times = 0;
        }
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getTextToken_3' %}',
            data:{
                "NoSign" : NS,
                "filter_times" : parseInt(filter_times),
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }

    //取出字典的字
    function getDictionary(tokenID){
        var res = [];
        var tokenID1 = tokenID[0];
        var tokenID2 = tokenID[1];
        $.ajax({
            async: false,
            type: 'POST',
            url: '{% url 'mark:getToken' %}',
            data:{
                "tokenID1[]" : tokenID1,
                "tokenID2[]" : tokenID2,
            },
            success:function (response){
                res.push(response.data[0].token1);
                res.push(response.data[0].token2);
                //////console.log("res : ", res);
            },
        });
        return res;
    }

    function merge(){
        
        var start = Date.now();
        $(event.target).toggleClass('active');
        if ($(event.target).attr('class') == "btn btn-info active" ){
            let token1 = $(event.target).parents('tr').children('td').eq(1).html();
            ////console.log("token1 = ", token1);
            let token2 = $(event.target).parents('tr').children('td').eq(2).html();
            ////console.log("token2 = ", token2);
            let times = $(event.target).parents('tr').children('td').eq(3).html();
            ////console.log("times = ", times);
            var Token = token1 + token2;
            var lenOfToken = Token.length;
            var TokenType = document.getElementById("selectTokenType").value;
            ////console.log(Token, lenOfToken, TokenType);
            /*
            const worker = new Worker("{% static 'css_js/selectVocabulary.js' %}");
            ////console.log('test1')
            worker.postMessage(Token);
            ////console.log("worker : ", worker);
            ////console.log('test2')
            var man = 0;
            if (man == 0){
                worker.onmessage = function(event) {
                    //console.log("Received message from worker:", event.data);
                };
                man = 1;
            }
            */
//]]
            /*setTimeout(function() {
                //console.log("terminated : ", worker);
                worker.terminate();
                //your code to be executed after 1 second
            }, 5000);
*/
            if (TokenType){
                //存新的volcabulary(a+b)
                response = insertVocabulary_new(Token, lenOfToken, TokenType);
                if(response.status === '0'){
                    ////console.log("tokenID : ", response.data[0].tokenID);
                    newTokenID = response.data[0].tokenID;
                    //取得被合併的兩個tokenID
                    tokenIDArray = getTokenIDByName([token1,token2]);
                    //console.log("tokenIDArray : ", tokenIDArray);
                    if (tokenIDArray.status === "0"){
                        ////console.log("in");
                        //取得textToken位置

                        positionArray = getPositionOfTextToken(tokenIDArray.tokenID);
                        ////console.log("positionArray : ", positionArray);
                        if (positionArray.status === "0"){
                            //將textToken原始資料*(-1)
                            response1 = multiplyByMinusOne(tokenIDArray.tokenID);
                            //console.log("response1 : ", response1);
                            if (response1.status === "0"){
                                //存入新的tokenID到textToken
                                response2 = insertNewTextToken(positionArray, newTokenID);
                                //console.log("insertNewTextToken : ", response2);
                                if (response2.status === "0"){
                                    $(event.target).parents('tr').remove();
                                    printAllPData();
                                    var end = Date.now();
                                    swal("Merged!", token1 + token2 + " has been merged! " + ((end-start)/1000).toString() + "sec", "success");
                                    $('#result_data').empty();
                                    $('#sortTable').empty();
                                    printAllData();
                                }          
                                else{
                                    swal("Error!", "insertNewTextToken ERROR!", "error");
                                }                  
                            }
                            else{
                                swal("Error!", "multiplyByMinusOne ERROR!", "error");
                            }
                        }
                        else{
                            swal("Error!", "getPositionOfTextToken ERROR!", "error");
                        }
                    }
                    else{
                        swal("Error!", "getTokenIDByName ERROR!", "error");
                    }
                }
                else if (response.status === 'already_exist'){
                    swal("Error!", "Vocabulary already exist!", "error");
                    ////console.log("already_exist!!!");
                }
                else{
                    swal("Error!", "insertVocabulary_new ERROR!", "error");
                }
            }
            else{
                ////console.log("choose a token type");
                
                swal("Error!", "Vocabulary already exist!", "error");
                display_noInput();
            }
            ////console.log("class : ", $(event.target).attr('class'));
        }
        else{            
            //////console.log("class : ", $(event.target).attr('class'));
        }        
    }

    function merge_3(){        
        var start = Date.now();
        $(event.target).toggleClass('active');
        if ($(event.target).attr('class') == "btn btn-info active" ){
            let token1 = $(event.target).parents('tr').children('td').eq(1).html();
            ////console.log("token1 = ", token1);
            let token2 = $(event.target).parents('tr').children('td').eq(2).html();
            ////console.log("token2 = ", token2);
            let token3 = $(event.target).parents('tr').children('td').eq(3).html();
            ////console.log("token3 = ", token3);
            let times = $(event.target).parents('tr').children('td').eq(4).html();
            ////console.log("times = ", times);
            var Token = token1 + token2 + token3;
            var lenOfToken = Token.length;
            var TokenType = document.getElementById("selectTokenType").value;
            ////console.log(Token, lenOfToken, TokenType);
            
            if (TokenType){
                //存新的volcabulary(a+b+c)
                response_new = insertVocabulary_new(Token, lenOfToken, TokenType);
                ////console.log("stauts insertVocabulary_new : ", response_new);
                if(response_new.status === '0'){
                    ////console.log("tokenID : ", response_new.data[0].tokenID);
                    newTokenID = response_new.data[0].tokenID;
                    //取得被合併的兩個tokenID
                    tokenIDArray = getTokenIDByName([token1, token2, token3]);
                    ////console.log("tokenIDArray : ", tokenIDArray);
                    if (tokenIDArray.status === "0"){
                        ////console.log("in");
                        //取得textToken位置
                        positionArray = getPositionOfTextToken_3(tokenIDArray.tokenID);
                        ////console.log("positionArray : ", positionArray);
                        if (positionArray.status === "0"){
                            //將textToken原始資料*(-1)
                            response1 = multiplyByMinusOne_3(tokenIDArray.tokenID);
                            if (response1.status === "0"){
                                //////console.log("minus one response : ", response)
                                //存入新的tokenID到textToken
                                response1 = insertNewTextToken(positionArray, newTokenID);
                                if (response1.status === "0"){
                                    $(event.target).parents('tr').remove();
                                    printAllPData();
                                    var end = Date.now();
                                    swal("Merged!", token1 + token2 + token3 + " has merged! " + ((end-start)/1000).toString()  + "sec", "success");
                                    $('#result_data').empty();
                                    $('#sortTable').empty();
                                    printAllData_3();
                                    printAllPData();
                                }
                                else{
                                    swal("Error!", "insertNewTextToken ERROR!", "error");
                                }
                            }
                            else{
                                swal("Error!", "multiplyByMinusOne_3 ERROR!", "error");
                            }
                        }
                        else{
                            swal("Error!", "getPositionOfTextToken_3 ERROR!", "error");
                        }
                    }
                    else{
                        swal("Error!", "getTokenIDByName ERROR!", "error");
                    }
                }
                else if (response.status === 'already_exist'){
                    swal("Already Exist!", token1 + token2 + " has been merged before!", "error");
                }
                else{
                    swal("Error!", "insertVocabulary ERROR!", "error");
                }
            }
            else{
                ////console.log("choose a token type");
                swal("Error!", "Vocabulary already exist!", "error");
            }
            //////console.log("class : ", $(event.target).attr('class'));
        }
        else{            
            //////console.log("class : ", $(event.target).attr('class'));
        }            
    }

    //顯示未輸入
    function display_noInput(){
        var x = document.getElementById("noInput");
        //////console.log(x.style.visibility)
        if (document.getElementById("noInput").style.visibility != 'visible') {
            document.getElementById("noInput").style.visibility = 'visible';
            setTimeout(function() {
                //your code to be executed after 1 second                    
                document.getElementById("noInput").style.visibility = 'hidden';
            }, 1200);
        }
    }

    //顯示已經存在
    function display_already_exist(){
        var x = document.getElementById("already_exist");
        //////console.log(x.style.visibility)
        if (document.getElementById("already_exist").style.visibility != 'visible') {
            document.getElementById("already_exist").style.visibility = 'visible';
            setTimeout(function() {
                //your code to be executed after 1 second                    
                document.getElementById("already_exist").style.visibility = 'hidden';
            }, 1200);
        }
    }

    //存新的volcabulary(a+b)
    function insertVocabulary_new(token, nWord, tokenType){
        ////console.log("insertVocabulary_new : ", token, nWord, tokenType);
        var res = [];
        $.ajax({
            async: false,
            type: 'POST',
            url: '{% url 'mark:insertVocabulary' %}',
            data:{
                "token" : token,
                "nWord" : nWord,
                "tokenType" : tokenType,
            },
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }
    
    //取得被合併的兩個tokenID
    function getTokenIDByName(Name){
        var res = [];
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:checkName' %}',
            data:{
                "Name[]" : Name,
            },
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }
    
    //取得textToken位置
    function getPositionOfTextToken(tokenIDArray){
        ////console.log("tokenIDArray : ", tokenIDArray);
        var res = [];
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:insertTexttoken' %}',
            data:{
                "tokenID1" : tokenIDArray[0],
                "tokenID2" : tokenIDArray[1],
            },
            success:function (response){
                res = response;
                //////console.log("res : ", res);
            },
        });
        return res;
    }

    //取得textToken位置
    function getPositionOfTextToken_3(tokenIDArray){
        ////console.log("tokenIDArray : ", tokenIDArray);
        var res = [];
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:insertTexttoken_3' %}',
            data:{
                "tokenID1" : tokenIDArray[0],
                "tokenID2" : tokenIDArray[1],
                "tokenID3" : tokenIDArray[2],
            },
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }

    //將textToken原始資料*(-1)
    function multiplyByMinusOne(tokenIDArray){
        var res = [];
        $.ajax({
            async: false,
            type: 'PATCH',
            url: '{% url 'mark:getTextToken' %}',
            data:JSON.stringify({
                "tokenID1" : tokenIDArray[0],
                "tokenID2" : tokenIDArray[1],
            }),
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }

    //將textToken原始資料*(-1)
    function multiplyByMinusOne_3(tokenIDArray){
        ////console.log("tokenIDArray_3 : ", tokenIDArray);
        var res = [];
        $.ajax({
            async: false,
            type: 'PATCH',
            url: '{% url 'mark:getTextToken_3' %}',
            data:JSON.stringify({
                "tokenID1" : tokenIDArray[0],
                "tokenID2" : tokenIDArray[1],
                "tokenID3" : tokenIDArray[2],
            }),
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }

    //存入新的tokenID到textToken
    function insertNewTextToken(positionArray, newTokenID){
        ////console.log("positionArray : ", positionArray.data);
        ////console.log("newTokenID : ", newTokenID);
        var res = [];
        $.ajax({
            async: false,
            type: 'POST',
            url: '{% url 'mark:insertTexttoken' %}',
            data:JSON.stringify({
                "positionArray[]" : positionArray.data,
                "newTokenID" : newTokenID,
            }),
            contentType: 'application/json',
            dataType: 'json',
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }

    //取得是否為最後一代
    function checkPN(array){
        tokenArray = [];
        for (var i=0 ; i<array.length ; i++){
            tokenArray[i] = array[i][1];
        }
        ////console.log("checkPN : ", tokenArray);
        var res = [];
        $.ajax({
            async: false,
            type: 'POST',
            url: '{% url 'mark:getTokenIDCheckTextToken' %}',
            data:{
                "token[]" : tokenArray,
            },
            success:function (response){
                res = response;
                ////console.log("PNarray : ", res.data);
            },
        });
        return res.data;
    }

    //全選
    function selectAllButton(){
        var AllBtn = document.getElementsByClassName("btn btn-info");
        len = AllBtn.length;
        for (var i=0 ; i<len ; i++ ){
            let targetNode = document.getElementById("button" + i.toString());
            if (!targetNode.classList.contains("active")){
                targetNode.click();
            //    targetNode.classList.add('active');
            }
        }
    }

    //取消
    function cancelAllButton(){
        var AllBtn = document.getElementsByClassName("btn btn-info")
        len = AllBtn.length;
        for (var i=0 ; i<len ; i++ ){
            let targetNode = document.getElementById("button" + i.toString());
            if (targetNode.classList.contains("active")){   
                targetNode.click();             
            //    targetNode.classList.remove('active');
            }
            if (targetNode.disabled === true){
                targetNode.disabled = false;
            }
        }
    }

    //確認前後重複+disable
    function checkDuplicateDisable(btn, tokenID, disableArray){
        //////console.log(btn.value);
        //////console.log(tokenID);
        var first = tokenID[0];
        var second = tokenID[1];
        var index = parseInt(btn.value);
        //先找到陣列值
        if (first[index]){
            tokenID1 = first[index];
            tokenID2 = second[index];
            ////console.log(tokenID1, tokenID2);
            //如果前一筆資料存在 且 後面的id跟現在前面的一樣 就disable按鈕
            if (second[index-1] && second[index-1] === first[index] ){
                ////console.log("前一個disable");
                disableBtn = document.getElementById("button" + (index-1).toString());
                //若他不是被選中的
                if (disableBtn.className === "btn btn-info active"){
                    ////console.log("選到前面選中的了");
                }
                else{
                    disableBtn.disabled = true;
                    
                    ////console.log("disableArray : ", disableArray);

                    if (disableArray[index] === 'undefined'){
                        disableArray[index] = [];
                        disableArray[index][0] = index;
                        disableArray[index][1] = index + 1;
                    }
                    else{  
                        disableArray[index][1] = index + 1;
                    }
                }
            }
            
            //如果後一筆資料存在 且 前面的id跟現在後面的一樣 就disable按鈕
            if (first[index+1] && first[index+1] === second[index] ){                
                ////console.log("後一個disable");
                disableBtn = document.getElementById("button" + (index+1).toString());
                //若他不是被選中的
                if (disableBtn.className === "btn btn-info active"){
                    ////console.log("選到後面選中的了");
                }
                else{
                    disableBtn.disabled = true;
                }
            }
        }
        ////console.log("disableArray : ", disableArray);
    }

    //確認前後重複+取消disable
    function checkDuplicateAble(btn, tokenID){
        //////console.log(btn.value);
        //////console.log(tokenID);
        var first = tokenID[0];
        var second = tokenID[1];
        var index = parseInt(btn.value);
        //先找到陣列值
        if (first[index]){
            tokenID1 = first[index];
            tokenID2 = second[index];
            ////console.log(tokenID1, tokenID2);
            //(如果前一筆資料存在 且 後面的id跟現在前面的一樣) 
            //且(前兩筆沒使用到)就disable按鈕
            if (second[index-1] && second[index-1] === first[index] ){
                ////console.log("前一個able");
                disableBtn = document.getElementById("button" + (index-1).toString());
                disableBtn.disabled = false;
            }
            
            //如果後一筆資料存在 且 前面的id跟現在後面的一樣 就disable按鈕
            if (first[index+1] && first[index+1] === second[index] ){                
                ////console.log("後一個able");
                disableBtn = document.getElementById("button" + (index+1).toString());
                disableBtn.disabled = false;
            }
        }
    }


    //開啟網頁傳值
    function changeSrc() {
        // Get the iframe element
        var iframe = document.getElementById("iframe");        
        var overlay = document.querySelector('.overlay');
        var iframeDoc = iframe.contentWindow.document;
        var feedbackElement = iframeDoc.querySelector('.warning-feedback');
        feedbackElement.textContent = "";
        ////console.log(" regexName : ", $("#regexName"));
        var drop = iframeDoc.getElementById("regexName");
        drop.classList.remove("is-warning");

        if(iframe.style.display == "block"){            
            iframe.style.display = "none";
            overlay.style.display = "none";
        }
        else{
            document.addEventListener("click", function(event) {
                // Check if the clicked element is inside the iframe or the button that opened the iframe
                if (event.target !== iframe && !event.target.classList.contains("btn")) {
                    // If it is not, hide the iframe
                    iframe.style.display = "none";                  
                    overlay.style.display = "none";
                }
            });
            
            overlay.style.display = "block";

            iframe.style.display = "block";
            
        
            var navbar = iframeDoc.getElementById("navbar");
            navbar.style.display = "none";
            
            var box = iframeDoc.getElementById("regexName");
            var drop = iframeDoc.getElementById("dropdownbutton");
            iframeDoc.getElementById("E").selected = true;

            let Token = $(event.target).parents('tr').children('td').eq(1).html();

            box.value = Token;
            var firstWord = iframeDoc.getElementById("firstWordValue");
            firstWord.value = Token;
            box.readOnly = true;
            var firstWordValue = iframeDoc.getElementById("firstWordValue");
            firstWordValue.readOnly = true;
            firstWordValue.style.userSelect = "none";
            var regexName = iframeDoc.getElementById("regexName");
            firstWordValue.readOnly = true;
            regexName.style.userSelect = "none";
            
            iframeDoc.getElementById("search").style.display = "";
            iframeDoc.getElementById("wordNumber").style.display = "";
            iframeDoc.getElementById("firstWord").style.display = "";
        }
    }   

    

  function customSearch(data, text) {
    var search = document.getElementsByClassName("form-control search-input");
    //console.log("search : ", search[0]);
    var selectValue = document.getElementById("tableSelect1").value;
    //console.log("selectValue : ", selectValue);
    //console.log("data : ", data);
    //console.log("text : ", text);
    if (text != ""){
        switch (selectValue) {
            case '1':
                //console.log('select 1');
                return data.filter(function (row) {
                  return row.First == text;
                })
                break;
            case '2':
                //console.log('select 2');
                return data.filter(function (row) {
                  return row.Second == text;
                })
                break;
            case '3':
                //console.log('select 3');
                return data.filter(function (row) {
                  return row.Times >= text;
                })
                break;
            case '4':
                //console.log('select 4');
                return data.filter(function (row) {
                  return row.Third == text;
                })
                break;
            case '0':
                //console.log('select 0');
                return data;
                break;
        }
    }

    return data.filter(function (row) {
      return row.Times >= text
    })
  }

  function resetSearch(){
    $("#sortTable").bootstrapTable('resetSearch');
  }

  function searchReportText(){
    //console.log(event.target);
    showModalReportText(event.target);
  }

  //取得前後50字報告
  function showModalReportText(target) {
    var modal = document.getElementById("modalReport");
    var data = document.getElementById("result_dataReport");
    var twoorthree = document.getElementById("twoOrThree");
    
    var token1 = $(event.target).parents('tr').children('td').eq(1).html();
    var token2 = $(event.target).parents('tr').children('td').eq(2).html();
    var token3 = "";
    mergeToken = token1 + token2;
    if(twoorthree.value === "3"){
        token3 = $(event.target).parents('tr').children('td').eq(3).html();
        mergeToken = token1 + token2 + token3;
    }
    
    //console.log("mergeToken : ", mergeToken);

    if( modal.style.display == "block"){
        modal.style.display = "none";
        document.removeEventListener('click', handleClick);
    }
    else{
        document.addEventListener("click", handleClick);
        
        modal.style.display = "block";
        //$('#result_dataReport').append(mergeToken);
        //var reportText = `Hi, <mark class="highlight">I</mark>'m david`;
        reportText = getReportText(twoorthree.value, mergeToken);  
        //console.log(token1, token2, token3);
        var pattern = regexSetting(token1, token2, token3, mergeToken);
        
        ////console.log("mergeToken : ", mergeToken);
        //console.log("pattern : ", pattern);
        //var reportText = `.[NUM]Hi, I'm david .[NUM] /[NUM] 取日病理tissue,`;        
        var matchCount = 0;
        var report = [];
        //取得報告文字
        for (var i=0 ; i<reportText.data.length ; i++){
            //處理前後50字
            text = forwardBackward(reportText.data[i].reportText, pattern, 0, 100, 100);
            ////console.log("tempText : ", tempText);
            //text = tempText.replace(pattern, match => `<mark>${match}</mark>`);
            ////console.log(text);
            //$('#result_dataReport').append(text);
            if (reportText.data[i].reportID == 2 || reportText.data[i].reportID == 3 || reportText.data[i].reportID == 4){
                //console.log("text : ", text);
            }
            report.push({
                "reportText" : text,
                "reportID" : reportText.data[i].reportID
            });
        }
        //$('#result_dataReport').append(reportText.replace(pattern, match => `<mark>${match}</mark>`));
        //$('#result_dataReport').append(matchCount);
        showModalReport(report, mergeToken);
    }
}

//處理前後50字
function forwardBackward(text, pattern, count, startCount, endCount){
    ////console.log("text : ", text);
    //console.log("pattern : ", pattern.toString());
    //用來記錄每篇文章的每筆前後50字
    var tempText = "";
    //紀錄起始結束
    var start,end = 0;
    while ((match = pattern.exec(text)) && count < 10) {     
        //console.log("match : ", match);       
        start = match.index;
        end = pattern.lastIndex;
    
        //00 01 10 11
        //前後都沒超過
        if (start-startCount >=0 && end+endCount <= text.length){
            ////console.log("start :" , start);
            ////console.log("end :" , end);
            ////console.log("text.length :" , text.length);
            ////console.log("tempText : ", text.slice(start-50, end+50));
            tempText += "<br>" + (count+1).toString() + "○ "  + text.slice(start-startCount, end+endCount) + "<br>";
        }
        //前後都超過
        else if (start-startCount <=0 && end+endCount >= text.length){
            tempText += "<br>" + (count+1).toString() + "○ "  + text + "<br>";
        }
        //前超後沒超
        else if (start-startCount <=0 && end+endCount <= text.length){
            tempText += "<br>" + (count+1).toString() + "○ "  + text.slice(0, end+endCount) + "<br>";
        }
        //後超前沒超
        else if (start-startCount >=0 && end+endCount >= text.length){
            tempText += "<br>" + (count+1).toString() + "○ "  + text.slice(start-startCount, text.length) + "<br>";
        }
        count += 1;
    }
    
    //console.log("tempText : ", tempText);
    count = 0;
    //text = tempText.replace(pattern, match => `<mark class="highlight">${match}</mark>`);
    text = tempText.replace(pattern, match => {
        count++;
        if (count == 1){
            return `<mark class="highlight-${count}">${match}</mark>`;
        }
        else{
            return `<mark class="highlight">${match}</mark>`;
        }
    });
    
    //console.log("text : ", text);
    text = text.replace(/(○)/gi, ".");
    return text;
}

    function getReportText(twoorthree, mergeToken){
        ////console.log("tokenIDArray_3 : ", tokenIDArray);
        var res = [];
        $.ajax({
            async: false,
            type: 'GET',
            url: '{% url 'mark:getReportTextByMergeToken' %}',
            data:{
                "words" : twoorthree,
                "mergeToken" : mergeToken,
            },
            success:function (response){
                res = response;
                ////console.log("res : ", res);
            },
        });
        return res;
    }

    function showModalReport(report, mergeToken){        
        $('#result_dataReport').empty();
        $('#result_dataReport').append(`<table id='dataReportTable' class="table table-striped" data-toggle="table"  data-search="true" data-custom-search="customSearch" data-reset-search="resetSearch">
        </table>`);
        $('#dataReportTable').bootstrapTable({
            columns: [
            {
                field: 'reportID',
                title: 'reportID',
                align: 'center',
                valign: 'middle',
                sortable:true,
            },
            {
                field: 'reportText',
                title: 'reportText',
                align: 'left',
                valign: 'middle',
                sortable:true,
                overflow: 'auto',
            },
            ],
            data:report
        });        
        $('#result_dataReport .fixed-table-toolbar').attr('id', 'table_Report;');
        $('#result_dataReport .fixed-table-toolbar').append(" You're Searching for \「 " + mergeToken + " \」");
    }

    function regexSetting(token1, token2, token3, mergeToken){        
        if (token1 != "[NUM]" && token2 != "[NUM]" && token3 != "[NUM]"){
            //符號前面加反斜線   
            mergeToken = mergeToken.replace(/([^\u4e00-\u9fa50-9a-zA-Z \n\u00A0\u200B\u2014\t\r]{1})/g, "\\$&");
        }
        else{
           //把[NUM]換成數字
            mergeToken = mergeToken.replace(/(\[NUM\])/g, "[0|9]+");
            //把非[NUM]前後加上[]
            allvalue = [...mergeToken.matchAll(/([^\[0-9\]\(\)\{1\}\|\*+])/gi)];
            allvalue.reverse().forEach(function(i){
                //console.log("allvalue index: ", i);
                mergeToken = mergeToken.slice(0, i.index+1) + "]" + mergeToken.slice(i.index+1);
                mergeToken = mergeToken.slice(0, i.index) + "[" + mergeToken.slice(i.index);
            });
            mergeToken = mergeToken.replace(/[\|]/g, "-");
            //console.log("mergeToken : ", mergeToken);
        }        
        var pattern = new RegExp("(" + mergeToken + ")","gi");
        return pattern;
    }
    
    //處理按下事件
    function handleClick(){        
        var modal = document.getElementById("modalReport");
        //console.log("listener in ", event.target);
        ////console.log("listener in ", event.target.classList);
        // Check if the clicked element is inside the iframe or the button that opened the iframe
        var checkParentNode = 0;
        var target = event.target;
        ////console.log("$(event.target).parents('modal')", $(event.target).parents("modal"));
        ////console.log("$(event.target).parents('fixed-table-toolbar')", $(event.target).parents("fixed-table-toolbar"));
        if ($(event.target).parents("modal").length > 0 || $(event.target).parents("fixed-table-toolbar").length > 0 ) {
            ////console.log("Parent element is a table with the 'table-bordered' class");
            // Do something else here
            checkParentNode = 1;
        }
        if (checkParentNode == 0 && !event.target.classList.contains("btn") && event.target.classList != "" && !event.target.classList.contains("fixed-table-toolbar") && !event.target.classList.contains("form-control")  && !event.target.classList.contains("sortable-center") ) {
            ////console.log("dissapear ", event.target.classList);
            // If it is not, hide the iframe
            modal.style.display = "none";
        }
    }
</script> 