

{% load static%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/highlight-within-textarea@2.0.5/jquery.highlight-within-textarea.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>

<link href="https://unpkg.com/perfect-scrollbar@1.4.0/css/perfect-scrollbar.css" rel="stylesheet">
<link href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css" rel="stylesheet">

<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<!-- Or for RTL support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<script src="https://unpkg.com/perfect-scrollbar@1.4.0/dist/perfect-scrollbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>

<script>
$(document).ready(function (e) {

    //初始化
    init();

    //查詢按鈕
    $("#searchButton").click(function(){
        var type = $("#itemDefinition_itemType").val();
        ////console.log("type : ", type);
        if (type === "1"){
            getitemTable();
        }
        else if (type === "0"){
            getTypoTabletypo();
        }
        else if (type === "2"){
            getStopToken();
        }
        
    }); 

    //儲存按鈕
    $("#storebtn").click(function(){
        storebtnClick();
    });

    //清除按鈕
    $("#clearbtn").click(function(){
        clearbtnClick();
    });
    
    //清除單筆按鈕
    $("#clearonebtn").click(function(){
        clearonebtnClick();
    });
})

    function clearbtnClick(){
        document.getElementById("correct").innerHTML = "";
        document.getElementById("correct").value = "";
        document.getElementById("wrong").innerHTML = "";
        document.getElementById("wrong").value = "";
        document.getElementById("countCorrect").innerHTML = "大小寫正確單字數：0";
        document.getElementById("countWrong").innerHTML = "大小寫錯誤單字數：0";
    }

    function clearonebtnClick(){
        var text = document.getElementById("correct").value;
        var correctWords = text.split('\n');
        var correctNumber = correctWords.length;
        var newCorrect = "";
        for(var i=0 ; i<correctNumber-1 ; i++){
            if (i != correctNumber-2){
                newCorrect += correctWords[i] + "\n";
            }
            else{
                newCorrect += correctWords[i];
            }
        }
        // //console.log("text : ", text);
        // //console.log("newCorrect : ", newCorrect);
        document.getElementById("correct").innerHTML = newCorrect;
        document.getElementById("correct").value = newCorrect;
        document.getElementById("countCorrect").innerHTML = `大小寫正確單字數：${correctNumber-1}`;


        
        var text = document.getElementById("wrong").value;
        var wrongWords = text.split('\n');
        var wrongNumber = wrongWords.length;
        var newWrong = "";
        for(var i=0 ; i<wrongNumber-1 ; i++){
            if (i != wrongNumber-2){
                newWrong += wrongWords[i] + "\n";
            }
            else{
                newWrong += wrongWords[i];
            }
        }
        // //console.log("text : ", text);
        // //console.log("newWrong : ", newWrong);
        document.getElementById("wrong").innerHTML = newWrong;
        document.getElementById("wrong").value = newWrong;
        document.getElementById("countWrong").innerHTML = `大小寫錯誤單字數：${wrongNumber-1}`;
    }
    

    function handleItemTypeChange() {
        var selectedItemType = document.getElementById("itemDefinition_itemType").value;
        //console.log("Selected item type: " + selectedItemType);
        
        $('#itemDefinition_frame').empty();
        if (selectedItemType === "1"){
            // document.getElementById("itemDefinition").style.display = "table";
            document.getElementById("regexTextArea").style.display = "block";
            document.getElementById("regexTextArea1").style.display = "block";
            document.getElementById("countCorrect").style.display = "block";
            document.getElementById("countWrong").style.display = "block";
            // document.getElementById("correct").innerHTML = "";
            // document.getElementById("correct").value = "";
            // document.getElementById("wrong").innerHTML = "";
            // document.getElementById("wrong").value = "";
            // document.getElementById("countCorrect").innerHTML = "大小寫正確單字數：0";
            // document.getElementById("countWrong").innerHTML = "大小寫錯誤單字數：0";
            clearbtnClick();
            // document.getElementById("clearbtn").style.display = "block";
            // document.getElementById("clearonebtn").style.display = "block";
            document.getElementById("clearbtndiv").style.display = "block";
            document.getElementById("clearonebtndiv").style.display = "block";

            // document.getElementById("typoTable").style.display = "none";
            document.getElementById("checkboxDiv").style.display = "none";
            document.getElementById("selectedTypo").style.display = "none";
            document.getElementById("typoResult").style.display = "none";
            document.getElementById("reportPrint").style.display = "none";

            
            
            document.getElementById("stopWords").style.display = "none";
            document.getElementById("countStop").style.display = "none";
        }
        else if (selectedItemType === "0"){
            // document.getElementById("itemDefinition").style.display = "none";
            document.getElementById("regexTextArea").style.display = "none";
            document.getElementById("regexTextArea1").style.display = "none";
            document.getElementById("countCorrect").style.display = "none";
            document.getElementById("countWrong").style.display = "none";
            // document.getElementById("clearbtn").style.display = "none";
            // document.getElementById("clearbtndiv").style.display = "none";
            document.getElementById("clearbtndiv").style.display = "none";
            document.getElementById("clearonebtndiv").style.display = "none";


            // document.getElementById("typoTable").style.display = "table";
            document.getElementById("checkboxDiv").style.display = "block";
            document.getElementById("selectedTypo").style.display = "block";
            document.getElementById("typoResult").style.display = "block";
            document.getElementById("reportPrint").style.display = "block";
            document.getElementById("typoCorrect").innerHTML = "";


            
            document.getElementById("stopWords").style.display = "none";
            document.getElementById("countStop").style.display = "none";
        }
        else if (selectedItemType === "2"){
            // document.getElementById("itemDefinition").style.display = "none";
            document.getElementById("regexTextArea").style.display = "none";
            document.getElementById("regexTextArea1").style.display = "none";
            document.getElementById("countCorrect").style.display = "none";
            document.getElementById("countWrong").style.display = "none";
            // document.getElementById("clearbtn").style.display = "none";
            // document.getElementById("clearbtndiv").style.display = "none";
            document.getElementById("clearbtndiv").style.display = "none";
            document.getElementById("clearonebtndiv").style.display = "none";


            // document.getElementById("typoTable").style.display = "table";
            document.getElementById("checkboxDiv").style.display = "none";
            document.getElementById("selectedTypo").style.display = "none";
            document.getElementById("typoResult").style.display = "none";
            document.getElementById("reportPrint").style.display = "none";
            document.getElementById("typoCorrect").innerHTML = "";


            document.getElementById("stopWords").style.display = "block";
            document.getElementById("countStop").style.display = "block";
            document.getElementById("stopwords").value = "";
            document.getElementById("countstop").innerHTML = "不統計單字數：0";
        }
    }



    //初始化
    function init(){
        // var wordsOption = document.getElementById("wordsOption");
        // wordsOption.addEventListener("change", onWordsOptionChange);
        // var inputText = document.getElementById("inputkeywords");
        // inputText.value = "( [Number] )";
        // inputText.innerHTML = "( [Number] )";

        $('#loader').css('display','none');
        $('#frame').css('visibility','visible');

        // //////console.log("responseItem : ", responseItem);
        
        // // getitemTable();
        // // $('#itemDefinition tbody').empty()
        // // let element = '';
        // // for(let i=0;i<responseItem.itemID.length;i++){
        // //     element += `<tr>
        // //         <td>${responseItem.itemID[i]}</td>
        // //         <td>${responseItem.rootID[i]}</td>
        // //         <td>${responseItem.itemName[i]}</td>
        // //         <td>${responseItem.engName[i]}</td>
        // //         <td>${responseItem.chtName[i]}</td>
        // //         <td>${responseItem.itemType[i]}</td>
        // //         </tr>`;
        // // }
        // // $('#itemDefinition tbody').append(element);
        // getEToken();
    }

    
    function getEToken(){
        $.ajax({
            type: 'POST',
            url: '{% url "mark:getEToken" %}',
            success:function (response){
                for(let i=0;i<response.token.length;i++){
                    element = `<option value=${response.token[i]} id="` + response.tokenID[i] + `">${response.token[i]}</option>`;
                    $('#regexName').append(element);
                }
            },
        });
    }
    
    //儲存按鈕
    function storebtnClick(){
        try {
            var table = document.getElementById("itemDefinition_itemType").value;
            if (table === "1"){
                CapStore();
            }
            else if (table === "0"){
                TypoStore();
            }
            else if (table === "2"){
                StopStore();
            }
            



        } catch (error) {
            if (error instanceof Error) {
                Swal.fire({
                    title: 'Error',
                    text: error,
                    icon: 'error',
                    confirmButtonText: 'Ok',
                })
                return;
            }
        }
    }

    function StopStore(){
        // var checkedOptions = getCheckedOptions();
        var text = document.getElementById("stopwords").value;
        var checkedOptions = text.split('\n');
        //console.log("checkedOptions : ", checkedOptions);
        if (checkedOptions.length === 0){
            Swal.fire({
                title: '請選擇至少一個字',
                icon: 'error',
                confirmButtonText: 'Ok',
            })
            return;
        }
        var correctWord = document.getElementById("stopwords").innerHTML;
        

        var html = `<table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th class="header" scope="col" style = "width : 100px;">${checkedOptions.length}個已選字將不會列入統計</th>
                        </tr>
                    </thead>
                    <tbody>`
        for (var i=0 ; i<checkedOptions.length ; i++){
            // html += `${i+1}. ${checkedOptions[i]}<br>`;
            html += `<tr>`;
                html += `<td>`;
                html += checkedOptions[i];
                html += `</td>`;
            html += `</tr>`;
        }

        html += `
            </tbody>
        </table>` ;
    
        //console.log("html : ", html);
        Swal.fire({
            title: '繼續儲存?',
            html: html,
            icon: 'question',
            showCancelButton: true,
            cancelButtonText:'cancel',
            confirmButtonText: 'Ok',
        })
        .then((result) => {
            if (result.isConfirmed) {
                //console.log("isConfirmed");
                //insertTypotypo(correctWord, checkedOptions);
                // insertTypo(correctWords, wrongWords);                
                // CapClear();
            } 
            else{
                ////console.log("canceled");
            }
        });
    }
    
    function TypoStore(){
        var checkedOptions = getCheckedOptions();
        //console.log("checkedOptions : ", checkedOptions);
        if (checkedOptions.length === 0){
            Swal.fire({
                title: '請選擇至少一個錯別字',
                icon: 'error',
                confirmButtonText: 'Ok',
            })
            return;
        }
        var correctWord = document.getElementById("typoCorrect").innerHTML;
        // var html = `以下${checkedOptions.length}個單字將會連結到${correctWord}<br>`;
        

        var html = `<table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th class="header" scope="col" style = "width : 100px;">${checkedOptions.length}個已選錯別字</th>
                            <th class="header" scope="col" style = "width : 100px;">將調整為正確字</th>
                        </tr>
                    </thead>
                    <tbody>`
        for (var i=0 ; i<checkedOptions.length ; i++){
            // html += `${i+1}. ${checkedOptions[i]}<br>`;
            html += `<tr>`;
                html += `<td>`;
                html += checkedOptions[i];
                html += `</td>`;

                html += `<td>`;
                html += correctWord;
                html += `</td>`;
            html += `</tr>`;
        }

        html += `
            </tbody>
        </table>` ;
    
        //console.log("html : ", html);
        Swal.fire({
            title: '繼續儲存?',
            html: html,
            icon: 'question',
            showCancelButton: true,
            cancelButtonText:'cancel',
            confirmButtonText: 'Ok',
        })
        .then((result) => {
            if (result.isConfirmed) {
                //console.log("isConfirmed");
                insertTypotypo(correctWord, checkedOptions);
                // insertTypo(correctWords, wrongWords);                
                // CapClear();
            } 
            else{
                ////console.log("canceled");
            }
        });
    }

    function CapStore(){
        //確認長度相等
        var autoSelect = document.getElementById("storebtn").autoSelect;
        var text = document.getElementById("correct").value;
        // ////console.log("text : ", text);
        var correctWords = text.split('\n');
        var correctNumber = correctWords.length;
        ////console.log("correctWords : ", correctWords);
        ////console.log("correctNumber : ", correctNumber);
        
        text = document.getElementById("wrong").value;
        // ////console.log("text : ", text);
        var wrongWords = text.split('\n');
        var wrongNumber = wrongWords.length;
        ////console.log("wrongWords : ", wrongWords);
        ////console.log("wrongNumber : ", wrongNumber);

        if (wrongNumber != correctNumber){
            throw new Error("兩側數目必須相等");
        }

        var diffCorrect = [];
        var diffWrong = [];
        //確認是大小寫相等字
        for(var i=0 ; i<correctWords.length ; i++){
            if (correctWords[i] != wrongWords[i].toLowerCase()){
                ////console.log("different : ", correctWords[i], ", ", wrongWords[i]);
                diffCorrect.push(correctWords[i]);
                diffWrong.push(wrongWords[i]);
            }
        }

        //回傳確認與否
        if (diffCorrect.length > 0){
            var html = `<table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th class="header" scope="col" style = "width : 100px;">${diffCorrect.length}個已選錯別字</th>
                            <th class="header" scope="col" style = "width : 100px;">將調整為正確字</th>
                        </tr>
                    </thead>
                    <tbody>`
            for (var i=0 ; i<diffCorrect.length ; i++){
                ////console.log("in");
                // html += `${i+1}. [${diffCorrect[i]} , ${diffWrong[i]}]<br>`;
                
                html += `<tr>`;
                    html += `<td>`;
                    html += diffWrong[i];
                    html += `</td>`;

                    html += `<td>`;
                    html += diffCorrect[i];
                    html += `</td>`;
                html += `</tr>`;
            }

            html += `
                </tbody>
            </table>` ;
            Swal.fire({
                title: '已偵測到大小寫轉換後不相等的字，確定繼續?',
                icon: 'question',
                html: html,
                showCancelButton: true,
                cancelButtonText:'cancel',
                confirmButtonText: 'Ok',
            })
            .then((result) => {
                if (result.isConfirmed) {
                    nodifferent(correctWords, wrongWords);
                } 
                else{
                    ////console.log("canceled");
                }
            });
        }
        else{
            nodifferent(correctWords, wrongWords);
        }
    }

    
    function different(diffCorrect, diffWrong, correctWords, wrongWords){
        ////console.log("diffCorrect : ", diffCorrect);
        ////console.log("diffWrong : ", diffWrong);
        // //console.log("correctWords : ", correctWords);
        // //console.log("wrongWords : ", wrongWords);
        // var html = `以下轉換大小寫後不同的字 : <br>`;

        var html = `<table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th class="header" scope="col" style = "width : 100px;">${diffCorrect.length}個已選錯別字</th>
                            <th class="header" scope="col" style = "width : 100px;">將調整為正確字</th>
                        </tr>
                    </thead>
                    <tbody>`
        for (var i=0 ; i<diffCorrect.length ; i++){
            ////console.log("in");
            // html += `${i+1}. [${diffCorrect[i]} , ${diffWrong[i]}]<br>`;
            
            html += `<tr>`;
                html += `<td>`;
                html += diffWrong[i];
                html += `</td>`;

                html += `<td>`;
                html += diffCorrect[i];
                html += `</td>`;
            html += `</tr>`;
        }

        html += `
            </tbody>
        </table>` ;
    
        // //console.log("html : ", html);
        html = "以下為轉換大小寫後不正確的字<br>" + html;
        ////console.log(html);
        Swal.fire({
            title: '繼續儲存?',
            html: html,
            icon: 'question',
            showCancelButton: true,
            cancelButtonText:'cancel',
            confirmButtonText: 'Ok',
        })
        .then((result) => {
            if (result.isConfirmed) {
                ////console.log("isConfirmed");
                
                insertTypo(correctWords, wrongWords);                
                CapClear();
            } 
            else{
                ////console.log("canceled");
            }
        });
    }

    function nodifferent(correctWords, wrongWords){
        //console.log("in");
        //console.log("correctWords : ", correctWords);
        //console.log("wrongWords : ", wrongWords);
        // var html = `請再次確認 : <br>`;
        
        var html = `<table class='table'>
                    <thead class="thead-dark">
                        <tr>
                            <th class="header" scope="col" style = "width : 100px;">${correctWords.length}個已選錯別字</th>
                            <th class="header" scope="col" style = "width : 100px;">將調整為正確字</th>
                        </tr>
                    </thead>
                    <tbody>`
        for (var i=0 ; i<correctWords.length ; i++){
            ////console.log("in");
            // html += `${i+1}. [${correctWords[i]} , ${wrongWords[i]}]<br>`;
            html += `<tr>`;
                html += `<td>`;
                html += wrongWords[i];
                html += `</td>`;

                html += `<td>`;
                html += correctWords[i];
                html += `</td>`;
            html += `</tr>`;
        }
        ////console.log(html);

        html += `
            </tbody>
        </table>` ;
    
        //console.log("html : ", html);

        Swal.fire({
            title: '繼續儲存?',
            html: html,
            icon: 'question',
            showCancelButton: true,
            cancelButtonText:'cancel',
            confirmButtonText: 'Ok',
        })
        .then((result) => {
            if (result.isConfirmed) {
                ////console.log("isConfirmed");
                insertTypo(correctWords, wrongWords);
                CapClear();
            } 
            else{
                ////console.log("canceled");
            }
        });
    }
    

    function insertTypo(correctWords, wrongWords){
        //console.log("insertTypo");
        $.ajax({
            type: 'POST',
            url: "{% url 'mark:insertTypo' %}",
            data:JSON.stringify({
                'insertType': "captalization",
                'correctWord': correctWords,
                'wrongWord': wrongWords,
            }),
            success:function (response){
                printResult(response);
            },
        });
    }

    function insertTypotypo(correctWords, wrongWords){
        //console.log("insertTypo");
        $.ajax({
            type: 'POST',
            url: "{% url 'mark:insertTypo' %}",
            data:JSON.stringify({
                'insertType': "typo",
                'correctWord': correctWords,
                'wrongWord': wrongWords,
            }),
            success:function (response){
                printResult(response);
            },
        });
    }

    function CapClear(){
        document.getElementById("correct").value = "";
        document.getElementById("correct").innerHTML = "";
        document.getElementById("wrong").value = "";
        document.getElementById("wrong").innerHTML = "";
        document.getElementById("countCorrect").innerHTML = "大小寫正確單字數：0";
        document.getElementById("countWrong").innerHTML = "大小寫正確單字數：0";
    }


    //儲存按鈕確認
    function storebtnClickCheck(extractedArray, keyArray, valueArray){            
        let textToSearch = document.getElementById("correct").value;                
        textToSearch = textToSearch.replace(/[ .*+?^${}()| [\ ]\\ ]/g,"\\$&");
        let dateFormat = new RegExp(`${textToSearch}`,"g");
        //////////console.log("dateFormat: "+ dateFormat);          
        result_array = []
        var paragraph = document.getElementById("reportText").innerHTML;
        
        paragraph = $("#reportText").attr("originalReport");

        // document.getElementById("reportText").innerHTML = paragraph.replace(dateFormat, match => `<mark class="highlight">${match}</mark>`);

        //迴圈執行exec()取得回傳的groups 原本exec只會找一筆所以要回圈 match回傳值沒有groups所以不能用
        while(null != (g = dateFormat.exec(paragraph))) {
            ////////console.log("groups: " + g.groups);  // ouput: "a"
            //////console.log("pattern: " + g);
            result_array.push(g.groups);
            extractedArray.push(g[0]);
        }
        //////console.log("result_array : ", result_array);
        
        var allkeyArray = [];
        var allvalueArray = [];
        for(var i=0 ; i<result_array.length ; i++){
            var  entries = Object.entries(result_array[i]);
            for (const [key, value] of entries) {
                //////console.log(`Key: ${key}, Value: ${value}`);
                if(!keyArray.includes(key)){
                    keyArray.push(key);
                    valueArray.push(value);
                }
                allkeyArray.push(key);
                allvalueArray.push(value);
            }
        }

        //////console.log("extractedArray : ", extractedArray);
        //////console.log("allvalueArray : ", allvalueArray);
        var ex = "";
        var count = 0;
        for(var i=0 ; i<allvalueArray.length ; i++){
            ex = ex.concat((i+1).toString(), ". ", " pattern : ", extractedArray[0], ", value : ", allvalueArray[i], "\n")
            count += 1;
        }

        //////console.log("keyArray : ", keyArray);
        //////console.log("valueArray : ", valueArray);
        var string = "";
        for(var i=0 ; i<keyArray.length ; i++){
            string += (keyArray[i]).toString() + ". " + valueArray[i].toString() + "<br>"
        }
    }

    function getitemTable(){
        ////console.log("getitemTable in ");
        
        var responseItem = getCapitalToken();
        // responseformodal = responseItem;
        // response = responseItem;
        // //////console.log("response : ", response);
        
        // $('#itemDefinition tbody').empty();
        // let element = '';
        // for(let i=0;i<response.tokenID1.length;i++){
        //     element += `<tr>
        //         <td class="double-clickable-correct" style="user-select : none; cursor: pointer;" tokenID=${response.tokenID1[i]}>${response.token1[i]}</td>
        //         <td class="double-clickable-wrong" style="user-select : none; cursor: pointer;" tokenID=${response.tokenID2[i]}>${response.token2[i]}</td>
        //         </tr>`;
        // }
        
        // $('#itemDefinition tbody').append(element);
        // $('.double-clickable-correct').on('click', function() {
        //     getCorrect();
        // });
        // $('.double-clickable-wrong').on('click', function() {
        //     getWrong();
        // });
        
    }
    
    function getTypoTabletypo(){
        
        
        var response = getTypoToken();
        //////console.log("response : ", response);
        
        // $('#typoTable tbody').empty();
        // let element = '';
        // for(let i=0;i<response.tokenID.length;i++){
        //     element += `<tr>
        //         <td class="double-clickable-typo" style="user-select : none; cursor: pointer;" tokenID=${response.tokenID[i]}>${response.token[i]}</td>
        //         </tr>`;
        // }
        
        // $('#typoTable tbody').append(element);
        ////console.log("response : ", response.data);


        // $('#typoTable').bootstrapTable();
        
    }
    //取得雙擊元素correct
    function getTypo(){
        ////console.log("target : ", event.target);
        var element = document.getElementById("typoCorrect");
        element.value = event.target.innerHTML;
        element.innerHTML = event.target.innerHTML;
        emphasizeInput(element);
        var token = event.target.innerHTML;
        //console.log("token : ", token);
        getTypoTokenDistance(token);
    }

    function getTypoTokenDistance(token){
        //console.log("insertTypo");
        $.ajax({
            type: 'POST',
            url: "{% url 'mark:getTypoTokenDistance' %}",
            data:JSON.stringify({
                'token': token,
            }),
            success:function (response){
                printResult(response);
                if (response.status === "0"){
                    //生成option
                    createOption(response.token, response.reportID);
                }
                
            },
        });
    }

    function createOption(tokenArray, reportIDArray){
        var targetDiv = document.getElementById("checkboxDivinside");
        targetDiv.innerHTML = "";
        targetDiv.value = "";
        if (tokenArray.length > 0){
            for (var i=0 ; i<tokenArray.length ; i++){
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.id = `myCheckbox${i}`;
                checkbox.name = `myCheckbox${i}`;
                checkbox.className = 'class="form-check-input"';
                checkbox.setAttribute("reportID", reportIDArray[i]);

                var label = document.createElement("label");
                label.innerHTML = tokenArray[i];
                label.setAttribute("for", `myCheckbox${i}`);
                label.className = 'class="form-check-label"';
                label.style = "user-select : none";
                // Append the checkbox element to the target div
                targetDiv.appendChild(checkbox);
                targetDiv.appendChild(label);
                
                targetDiv.appendChild(document.createElement("br"));
            }
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var labels = document.querySelectorAll('label');

            // //console.log(labels);

            // Loop through the checkboxes and add an event listener to each one
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener('click', function() {
                    var reportID = this.getAttribute("reportID");
                    //console.log("reportID : ", reportID);
                    this.classList.toggle('checked');
                    
                    var checkedOptions = getCheckedOptions();
                    // //console.log("checkedOptions : ", checkedOptions);
                    document.getElementById("typoResult").innerHTML = `已選擇錯別字數： ${checkedOptions.length}`;

                    var label = this.nextElementSibling; // get the label element after the checkbox
                    var labelText = label.textContent; // get the text content of the label
                    //console.log("labelText : ", labelText);
                    //如果狀態變為選取
                    if (this.classList.contains('checked')){
                        //console.log("checked");
                        getReportBylastReportID(reportID, labelText);
                    }
                    
                });
            }
        }
        else{
            targetDiv.innerHTML = "";
            targetDiv.value = "";
            targetDiv.innerHTML = "無資料";
        }
    }
    

    //根據reportID找文章
    function getReportBylastReportID(reportID, textToSearch){
        var btn = document.getElementById("reportPrint");
        var text = "查詢中";
        var count = 0;
        var intervalId = setInterval(function() {
            count++;
            if (count > 3) {
            count = 0;
            }
            switch (count) {
            case 0:
                btn.innerHTML = text;
                break;
            case 1:
                btn.innerHTML = text + ".";
                break;
            case 2:
                btn.innerHTML = text + "..";
                break;
            case 3:
                btn.innerHTML = text + "...";
                break;
            }
        }, 500); // Update the text every 500 milliseconds
        //////console.log("reportID" + reportID);     
        $.ajax({
            type: 'POST',
            url: '{% url 'mark:getReportByReportID' %}',
            data:JSON.stringify({
                'reportID': reportID,
            }),
            success:function (response){
                // printResult(response);
                //console.log("report res : ", response);
                // btn.innerHTML = response.data;
                // btn.value = response.data;
                clearInterval(intervalId);
                var paragraph = response.data[0];
                //console.log("paragraph : ", paragraph);
                textToSearch = textToSearch.replace(/[ .*+?^${}()| [\ ]\\ ]/g,"\\$&");
                var pattern = new RegExp(`${textToSearch}`,"g");
                
                //console.log("pattern : ", pattern);

                document.getElementById("reportPrint").innerHTML = paragraph.replace(pattern, match => `<mark class="highlight">${match}</mark>`);
                // btn.innerHTML = "已找到報告!";
                // setTimeout(() => {
                //     btn.innerHTML = "選取報告";
                // }, 1000);
            },
        });
    }

    function getCheckedOptions() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        var labels = document.querySelectorAll('label');
        var checkedOptions = [];

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkedOptions.push(labels[i+1].innerHTML);
            }
        }

        return checkedOptions;
    }

    //取得雙擊元素correct
    function getCorrect(){
        ////console.log("target : ", event.target);
        var element = document.getElementById("correct");
        if(element.value != ""){
            element.value += "\n" + event.target.innerHTML;
            element.innerHTML += "\n" + event.target.innerHTML;
        }
        else{
            element.value += event.target.innerHTML;
            element.innerHTML += event.target.innerHTML;
        }
        var autoSelect = document.getElementById("storebtn").autoSelect;
        var text = document.getElementById("correct").value;
        // ////console.log("text : ", text);
        var correctWords = text.split('\n');
        var correctNumber = correctWords.length;
        ////console.log("correctWords : ", correctWords);
        ////console.log("correctNumber : ", correctNumber);
        document.getElementById("countCorrect").innerHTML = `大小寫正確單字數：${correctNumber}`;
        emphasizeInput(element);
    }

    //取得雙擊元素wrong
    function getWrong(){
        ////console.log("target : ", event.target);
        var element = document.getElementById("wrong");
        if(element.value != ""){
            element.value += "\n" + event.target.innerHTML;
            element.innerHTML += "\n" + event.target.innerHTML;
        }
        else{
            element.value += event.target.innerHTML;
            element.innerHTML += event.target.innerHTML;
        }
        var text = document.getElementById("wrong").value;
        // ////console.log("text : ", text);
        var wrongWords = text.split('\n');
        var wrongNumber = wrongWords.length;
        ////console.log("wrongWords : ", wrongWords);
        ////console.log("wrongNumber : ", wrongNumber);
        document.getElementById("countWrong").innerHTML = `大小寫錯誤單字數：${wrongNumber}`;
        emphasizeInput(element);
    }

    

    //取得雙擊元素Stop
    function getStop(){
        ////console.log("target : ", event.target);
        
        var text = document.getElementById("stopwords").value;
        var stoptWords = text.split('\n');
        var element = document.getElementById("stopwords");
        console.log("target : ", $(event.target).parent('tr').children()[0].innerHTML);
        var string = $(event.target).parent('tr').children()[0].innerHTML;
        if (stoptWords.indexOf(string) === -1){
            
            if(element.value != ""){
                element.value += "\n" + string;
                element.innerHTML += "\n" + string;
            }
            else{
                element.value += string;
                element.innerHTML += string;
            }
            text = document.getElementById("stopwords").value;
            stoptWords = text.split('\n');
            var stopNumber = stoptWords.length;
            // console.log("stoptWords : ", stoptWords);
            // console.log("stopNumber : ", stopNumber);
            document.getElementById("countstop").innerHTML = `不統計單字數：${stopNumber}`;
            emphasizeInput(element);
        }
        else{
            Swal.fire({
                title: '單字已存在 : ' + string,
                icon: 'error',
            })
        }
    }


    //輸入元素fadeout
    function fadeout(element) {
        var op = 1;  // initial opacity
        var timer = setInterval(function () {
            if (op <= 0.1){
                clearInterval(timer);
                element.style.display = 'none';
            }
            element.style.opacity = op;
            element.style.filter = 'alpha(opacity=' + op * 100 + ")";
            op -= op * 0.1;
        }, 15);
    }

    //輸入元素fadein
    function fadein(element) {
        var op = 0.1;  // initial opacity
        element.style.display = 'block';
        var timer = setInterval(function () {
            if (op >= 1){
                clearInterval(timer);
            }
            element.style.opacity = op;
            element.style.filter = 'alpha(opacity=' + op * 100 + ")";
            op += op * 0.1;
        }, 10);
    }

    //取得所有tokenCapital
    function getCapitalToken(){
        var btn = document.getElementById("searchButton");
        var text = "查詢中";
        var count = 0;
        btn.disabled = true; // Disable the button during the search
        var intervalId = setInterval(function() {
            count++;
            if (count > 3) {
            count = 0;
            }
            switch (count) {
            case 0:
                btn.innerHTML = text;
                break;
            case 1:
                btn.innerHTML = text + ".";
                break;
            case 2:
                btn.innerHTML = text + "..";
                break;
            case 3:
                btn.innerHTML = text + "...";
                break;
            }
        }, 500); // Update the text every 500 milliseconds
        ////console.log("getitemTable in ");
        var res;
        $.ajax({
            async:false,
            type: 'POST',
            url: '{% url "mark:getCapitalToken" %}',
            success:function (response){
                res = response;
                //console.log("response Capital : ", response);
                $('#itemDefinition_frame').empty();
                $('#itemDefinition_frame').append(`<table id='itemDefinition' class="table table-striped" data-toggle="table"  data-search="true"
                data-pagination="true"
                data-pagination-h-align="left"
                data-pagination-detail-h-align="right"
                data-page-size="12"
                >
                </table>`);
                $('#itemDefinition').bootstrapTable({
                    columns: [
                    { 
                        field: 'token1',
                        title: 'token1',
                        sortable:true,
                    },
                    {
                        field: 'token2',
                        title: 'token2',
                        sortable:true,
                    },
                    ],
                    data:response.data,
                    stickyHeader: true,
                    onPageChange: function(number, size) {
                        var firstTds = $('#itemDefinition tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getCorrect();');
                        var secondTds = $('#itemDefinition tbody tr:visible td:nth-child(2)');
                        secondTds.attr('onclick', 'getWrong();');
                    },
                    onPostBody: function() {
                        var firstTds = $('#itemDefinition tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getCorrect();');
                        var secondTds = $('#itemDefinition tbody tr:visible td:nth-child(2)');
                        secondTds.attr('onclick', 'getWrong();');
                    },
                })
                

                clearInterval(intervalId);
                btn.disabled = false;
                btn.innerHTML = "成功!";
                setTimeout(() => {
                    btn.innerHTML = "查詢";
                }, 1000);
                //////console.log(response, res);
            },
        });
        return res;
    }
    
    //取得所有tokenStop
    function getStopToken(){
        var btn = document.getElementById("searchButton");
        var text = "查詢中";
        var count = 0;
        btn.disabled = true; // Disable the button during the search
        var intervalId = setInterval(function() {
            count++;
            if (count > 3) {
            count = 0;
            }
            switch (count) {
            case 0:
                btn.innerHTML = text;
                break;
            case 1:
                btn.innerHTML = text + ".";
                break;
            case 2:
                btn.innerHTML = text + "..";
                break;
            case 3:
                btn.innerHTML = text + "...";
                break;
            }
        }, 500); // Update the text every 500 milliseconds
        ////console.log("getitemTable in ");
        var res;
        $.ajax({
            type: 'POST',
            url: '{% url "mark:getStopToken" %}',
            success:function (response){
                res = response;
                //console.log("response Capital : ", response);
                $('#itemDefinition_frame').empty();
                $('#itemDefinition_frame').append(`<table id='StopTable' class="table table-striped" data-toggle="table"  data-search="true"
                data-pagination="true"
                data-pagination-h-align="left"
                data-pagination-detail-h-align="right"
                data-page-size="12"
                >
                </table>`);
                $('#StopTable').bootstrapTable({
                    columns: [
                    { 
                        field: 'token',
                        title: 'token',
                        sortable:true,
                    },
                    {
                        field: 'frequency',
                        title: 'frequency',
                        sortable:true,
                    },
                    {
                        field: 'numReports',
                        title: 'numReports',
                        sortable:true,
                    },
                    ],
                    data:response.data,
                    stickyHeader: true,
                    onPageChange: function(number, size) {
                        var firstTds = $('#StopTable tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getStop();');
                        var secondTds = $('#StopTable tbody tr:visible td:nth-child(2)');
                        secondTds.attr('onclick', 'getStop();');
                        var thirdTds = $('#StopTable tbody tr:visible td:nth-child(3)');
                        thirdTds.attr('onclick', 'getStop();');
                    },
                    onPostBody: function() {
                        var firstTds = $('#StopTable tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getStop();');
                        var secondTds = $('#StopTable tbody tr:visible td:nth-child(2)');
                        secondTds.attr('onclick', 'getStop();');
                        var thirdTds = $('#StopTable tbody tr:visible td:nth-child(3)');
                        thirdTds.attr('onclick', 'getStop();');
                    },
                })
                

                clearInterval(intervalId);
                btn.disabled = false;
                btn.innerHTML = "成功!";
                setTimeout(() => {
                    btn.innerHTML = "查詢";
                }, 1000);
                //////console.log(response, res);
            },
        });
        return res;
    }

    //取得所有tokenTypo
    function getTypoToken(){
        var btn = document.getElementById("searchButton");
        var text = "查詢中";
        var count = 0;
        btn.disabled = true; // Disable the button during the search
        var intervalId = setInterval(function() {
            count++;
            if (count > 3) {
            count = 0;
            }
            switch (count) {
            case 0:
                btn.innerHTML = text;
                break;
            case 1:
                btn.innerHTML = text + ".";
                break;
            case 2:
                btn.innerHTML = text + "..";
                break;
            case 3:
                btn.innerHTML = text + "...";
                break;
            }
        }, 500); // Update the text every 500 milliseconds
        ////console.log("getitemTable in ");
        var res;
        $.ajax({
            type: 'POST',
            url: '{% url "mark:getTypoToken" %}',
            success:function (response){
                res = response;

                
                $('#itemDefinition_frame').empty();
                $('#itemDefinition_frame').append(`<table id='typoTable' class="table table-striped" data-toggle="table"  data-search="true"
                data-pagination="true"
                data-pagination-h-align="left"
                data-pagination-detail-h-align="right"
                data-page-size="12"
                >
                </table>`);
                $('#typoTable').bootstrapTable({
                    columns: [
                    { 
                        field: 'token',
                        title: 'token',
                        sortable:true,
                    },
                    {
                        field: 'times',
                        title: 'times',
                        sortable:true,
                    },
                    ],
                    data:response.data,
                    stickyHeader: true,
                    onPageChange: function(number, size) {
                        var firstTds = $('#typoTable tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getTypo();');
                    },
                    onPostBody: function() {
                        var firstTds = $('#typoTable tbody tr:visible td:nth-child(1)');
                        firstTds.attr('onclick', 'getTypo();');
                    },
                })
                // $('#itemDefinition_frame .fixed-table-toolbar').attr('id', 'typoTable');

                // $('.double-clickable-typo').on('click', function() {
                //     getTypo();
                // });

                $('#typoTable tbody tr').each(function() {
                    var firstTd = $(this).find('td:first-child');
                    // do something with the first td element, e.g.
                    // firstTd.css('background-color', 'yellow');
                    firstTd.attr('onclick', 'getTypo();');
                });
                

                clearInterval(intervalId);
                btn.disabled = false;
                btn.innerHTML = "成功!";
                setTimeout(() => {
                    btn.innerHTML = "查詢";
                }, 1000);
                //////console.log(response, res);
            },
        });
        return res;
    }

    

    //顯示結果
    function printResult(response){
        if(response.status == "0"){ 
            if (response.MSG){                
                Swal.fire({
                    title: 'Success',
                    html: response.MSG,
                    icon: 'success',
                })
            }
        }
        else{
            if (response.ERRMSG){
                Swal.fire({
                    title: 'Failed',
                    text: response.ERRMSG,
                    icon: 'error',
                })
            }
            else{
                Swal.fire({
                    title: 'Failed',
                    text: "Something went wrong",
                    icon: 'error',
                })
            }
        }        
    }

    //輸入元素強調
    function emphasizeInput(element) {
        // save the current background color of the input element
        var currentColor = "#E9ECEF";

        // set the background color of the input element to the emphasized color
        element.style.backgroundColor = "#BAD6F0";

        // after a short delay, restore the original background color
        setTimeout(function() {
            element.style.backgroundColor = currentColor;
        }, 150); // adjust the delay time to match the animation duration in your CSS
    }

    //存檔到後端資料庫
    function BtnClicked_1(itemName){
        //////////console.log("execute in")
        ////console.log("itemName : ", itemName);


        token = document.getElementById('regexName').value;
        //////console.log("token : ", token);
        tokenType = "E";
        ////////console.log("tokenType : " + tokenType)
        //count = getLength(token);
        //////////console.log(input,regex)
        $.ajax({
            type: 'POST',
            url: '{% url 'mark:insertVocabulary' %}',
            data:{
                'token': token,
                'nWord': token.length,
                'tokenType': tokenType,                
            },
            success:function (response){
                ////////console.log("result : " + response.status)
                if (tokenType == 'E'){
                    BtnClicked_2(response,itemName);
                }
                printResult(response);
            },
        });
    }



</script>

